@page "/Investment"
@inherits BasePage

@if (DataLoaded)



{
    <header class="page-header pb-10">
        <div class="container-xl px-4">
            <div class="page-header-content pt-4">
                <div class="row align-items-center justify-content-between">
                </div>
            </div>
        </div>
    </header>

    <div class="container-xl px-4 mt-n10">
        <div class="card card-waves mb-4 mt-5">
            <div class="card-body p-5">
                <div class="row align-items-center justify-content-between">
                    <div class="col">
                        <h1 class="text-green text-xl fw-700">Investment Portfolio  <i class="feather-xl text-green" data-feather="bar-chart-2"></i></h1>
                        <p class="text-gray-700">Track your investment</p>
@*                         <div class="row">
                            <InfoWidget Label="Earnings (monthly)" Quantity="$4,399" Color="primary" Icon="fa-dollar-sign" />
                            <InfoWidget Label="Average sale price" Quantity="$27.00" Color="secondary" Icon="fa-tag" />
                            <InfoWidget Label="Clicks" Quantity="11,291" Color="success" Icon="fa-mouse-pointer" />
                        </div> *@
                    </div>
                    <div class="col">
                        <img class="img-fluid px-xl-4"
                             src="assets/img/illustrations/invest.svg"
                             style="margin-top: -150px; z-index: 10; position: relative;" />
                    </div>

                </div>
            </div>
        </div>
        <Row>
            <DashboardCard Label="Total Asset (USD)" Quantity="@BinancePortfolio.TotalPortfolioValueInUSDT.ToString("N4")" Color="success" Icon="bar-chart-2" Link="Customers" />
            <DashboardCard Label="Total Gain 30D (USD)" Quantity="@BinancePortfolio.InvestmentSummary.DollarGain30d.ToString("N4")" Color="success" Icon="bar-chart-2" Link="Product" />
            <DashboardCard Label="Percent Gain 30D " Quantity="@($"{BinancePortfolio.InvestmentSummary.PercentGain30d}%")" Color="success" Icon="bar-chart-2" Link="Order" />
        </Row>
        <Row Class="align-items-stretch">
            <InvestmentChart InvestmentSummary="@BinancePortfolio.InvestmentSummary" PortfolioHistory="@BinancePortfolio.PortfolioHistory" />
        </Row>

        <Row>
            <div class="col-xxl">
                <!-- Tabbed dashboard card example-->
                <div class="card mb-4">
                    <div class="card-header border-bottom">
                        <!-- Dashboard card navigation-->
                        <ul class="nav nav-tabs card-header-tabs" id="dashboardNav" role="tablist">
                            <li class="nav-item me-1"><a class="nav-link active" id="bank-transaction-pill" href="#bank-transaction" data-bs-toggle="tab" role="tab" aria-controls="bank-transaction" aria-selected="true">Asset List</a></li>
                            <li class="nav-item"><a class="nav-link" id="activities-pill" href="#activities" data-bs-toggle="tab" role="tab" aria-controls="activities" aria-selected="false">Investment Activities</a></li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content h-100" id="dashboardNavContent">
                            <!-- Dashboard Tab Pane 1-->
                            <div class="tab-pane fade show active" id="bank-transaction" role="tabpanel" aria-labelledby="overview-pill">
                                @if (DataLoaded)



                                {
                                    <Table TableId="bankTransactionTable" Items="@BinancePortfolio.Balances" Context="Asset">
                                        <HeaderTemplate>
                                            <th>Asset</th>
                                            <th>Free</th>
                                            <th>Value in USD</th>
                                        </HeaderTemplate>
                                        <RowTemplate>
                                            <td>@Asset.Asset</td>
                                            <td>@Asset.Free</td>
                                            <td>@Asset.ValueInUSDT.ToString("N2")</td>
                                        </RowTemplate>
                                    </Table>
                                }
                            </div>
                            <!-- Dashboard Tab Pane 2-->
                            <div class="tab-pane fade" id="activities" role="tabpanel" aria-labelledby="activities-pill">
                                @if (DataLoaded)

                                {
                                    <Table TableId="dashboardTable" Items="@BinancePortfolio.Trades" Context="Trade">
                                        <HeaderTemplate>
                                            <th>Symbol</th>
                                            <th>Price</th>
                                            <th>Qty</th>
                                            <th>QuoteQty</th>
                                            <th>IsBuyer</th>
                                            <th>IsBuyer</th>
                                        </HeaderTemplate>
                                        <RowTemplate>
                                            <td>@Trade.Symbol</td>
                                            <td>@Trade.Price</td>
                                            <td>@Trade.Qty</td>
                                            <td>@Trade.QuoteQty</td>
                                            <td>@Trade.IsBuyer</td>
                                            <td>@Trade.IsBuyer</td>
                                        </RowTemplate>
                                    </Table>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
@*             <div class="col-xxl-4">
                <div class="row">
                    <div class="col-xl-6 col-xxl-12">
                        <div class="card card-header-actions mb-4">
                            <div class="card-header">
                                Asset Distribution
                                <a class="btn btn-sm btn-primary-soft text-primary" href="#!">Create New</a>
                            </div>
                            <div class="card-body">
                                <!-- Progress item 1-->
                                <div class="d-flex align-items-center justify-content-between small mb-1">
                                    <div class="fw-bold">Cash on Banks</div>
                                    <div class="small">70%</div>
                                </div>
                                <div class="progress mb-3"><div class="progress-bar bg-primary" role="progressbar" style="width: 70%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div></div>
                                <!-- Progress item 2-->
                                <div class="d-flex align-items-center justify-content-between small mb-1">
                                    <div class="fw-bold">Cryptocurrencies</div>
                                    <div class="small">20%</div>
                                </div>
                                <div class="progress mb-3"><div class="progress-bar bg-warning" role="progressbar" style="width: 20%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div></div>
                                <!-- Progress item 3-->
                                <div class="d-flex align-items-center justify-content-between small mb-1">
                                    <div class="fw-bold">Stocks</div>
                                    <div class="small">10%</div>
                                </div>
                                <div class="progress mb-3"><div class="progress-bar bg-success" role="progressbar" style="width: 10%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div></div>
                                <!-- Progress item 4-->
                                <div class="d-flex align-items-center justify-content-between small mb-1">
                                    <div class="fw-bold">Mutual Funds</div>
                                    <div class="small">0%</div>
                                </div>
                                <div class="progress"><div class="progress-bar bg-danger" role="progressbar" style="width: 0%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-xxl-12">
                        <!-- Pie chart with legend example-->
                        <Card class="h-100">
                            <CardHeader>Asset Allocation</CardHeader>
                            <CardBody>
                                <MudBlazor.MudChart ChartType="MudBlazor.ChartType.Donut" Width="200px" Height="200px" @bind-SelectedIndex="ChartIndex" InputData="@ChartData" InputLabels="@ChartLabels"></MudBlazor.MudChart>
                            </CardBody>
                        </Card>
                    </div>

                </div>
            </div> *@
        </Row>
        <Row>
            <div class="col-xl-6 mb-4">
                <div class="card">
                    <div class="card-header border-bottom">
                        <ul class="nav nav-tabs card-header-tabs" id="dashboardNav" role="tablist">
                            <li class="nav-item me-1"><a class="nav-link active" id="stock-pill" href="#stock" data-bs-toggle="tab" role="tab" aria-controls="stock" aria-selected="true">Stock Market</a></li>
                            <li class="nav-item"><a class="nav-link" id="crypto-pill" href="#crypto" data-bs-toggle="tab" role="tab" aria-controls="crypto" aria-selected="false">Cryptocurrency</a></li>
                            <li class="nav-item"><a class="nav-link" id="forex-pill" href="#forex" data-bs-toggle="tab" role="tab" aria-controls="forex" aria-selected="false">Forex</a></li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content h-100" id="dashboardNavContent">
                            <!-- Dashboard Tab Pane 1-->
                            <div class="tab-pane fade show active" id="stock" role="tabpanel" aria-labelledby="stock-pill">
                                <h4>Select Market:</h4>
                                <select class="form-control mb-3" @bind="SelectedMarket">
                                    <option value="cryptocurrency">Cryptocurrency</option>
                                    <option value="us">USA (NASDAQ, NYSE, ARCA, OTC)</option>
                                    <option value="indonesia">Indonesia (IDX)</option>
                                    <option value="australia">Australia (ASX)</option>
                                    <option value="forex">Forex</option>
                                </select>
                                @if (SelectedMarket == "cryptocurrency")

                                {
                                    <CryptocurrencyScreener />
                                }

                                else if (SelectedMarket == "forex")

                                {
                                    <ForexScreener />
                                }

                                else

                                {
                                    <StockScreener MarketType="@SelectedMarket" />
                                }

                            </div>
                            <!-- Dashboard Tab Pane 2-->
                            <div class="tab-pane fade" id="crypto" role="tabpanel" aria-labelledby="crypto-pill">
                                @*    <CryptocurrencyScreener /> *@
                            </div>
                            <!-- Dashboard Tab Pane 2-->
                            <div class="tab-pane fade" id="forex" role="tabpanel" aria-labelledby="forex-pill">
                                @*  <ForexScreener /> *@
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
            </div>
            <div class="col-xl-6 mb-4">
                <div class="card card-header-actions">
                    <div class="card-body">
                        <CryptoChart2 />
                    </div>
                </div>
            </div>
        </Row>
    </div>
}