@page "/BankTransactions"
@inherits BasePage

<PageHeader Title="Bank Transaction" Icon="user-plus">
    <ButtonLink Label="Add New Bank Transaction" Url="/CreateBankTransaction" class="btn btn-sm btn-primary" Icon="user-plus" />
    <ButtonLink Label="Back to Dashboard" Url="/Dashboard" class="btn btn-sm btn-outline-primary" Icon="users" />
</PageHeader>

@if (DataLoaded)
{
    <ContainerFluid>
        <Card>
            <CardBody>
                <Table TableId="defaultTable" Items="@BankTransactionList" Context="BankTransaction">
                    <HeaderTemplate>
                        <th>Transaction Date</th>
@*                      <th>Bank</th> *@
                        <th>Description</th>
                        <th>TransactionType</th>
                        <th>Amount</th>
                    </HeaderTemplate>
                    <RowTemplate>
                        <td>@BankTransaction.TransactionDate.ToString("dd/MM/yy")</td>
@*                         <td>@BankTransaction.BankAccountId</td> *@
                        <td>@BankTransaction.Description</td>
                        <td>@BankTransaction.TransactionType</td>
                        <td>@BankTransaction.TransactionAmount.ToString("N2")</td>
                    </RowTemplate>
                </Table>
            </CardBody>
        </Card>
    </ContainerFluid>
}