@page "/CreateBankTransaction"
@inherits BasePage
@inject HttpClient Http
@inject IJSRuntime JS

<PageHeader Title="Bank Transaction" Icon="user-plus">
    <ButtonLink Label="Back" Url="BankTransactions" class="btn btn-sm btn-outline-primary" Icon="users" />
</PageHeader>

<Container>
    <Row>
        <Column>
            <Card>
                <CardHeader>Create Bank Transaction</CardHeader>
                <CardBody>
                    <EditForm Model="UploadBankTransaction" OnValidSubmit="PostBankTransaction">
                        <DataAnnotationsValidator />
                        <Row>
@*                             <Column class="col-md-6">
                                <InputDate Label="Transaction Date" Id="TransactionDate" Placeholder="Enter TransactionDate" @bind-Value="@UploadBankTransaction.TransactionDate" ValidationFor="@(()=>UploadBankTransaction.TransactionDate)" />
                            </Column> *@
                            <Column class="col-md-6">
                                <InputOption Label="Bank Account" Id="BankAccount" Placeholder="Choose An Option" @bind-Value="@SelectedBank" Items="BankAccountList" Context="item" ValidationFor="@(()=>SelectedBank)">
                                    <Template><option value="@item.Id">@item.BankName</option></Template>
                                </InputOption>
                            </Column>
                        </Row>
                        <Row>
                            <Column class="col-md-6">
                                <InputFile OnChange="OnFileSelected" />
                            </Column>
                        </Row>
                        <ButtonSubmit Label="Create" class="btn btn-primary" />
                        <ButtonLink Label="Cancel" Url="BankTransactions" class="btn btn-outline-primary" />
                    </EditForm>
                </CardBody>
            </Card>
        </Column>
    </Row>
</Container>