@page "/BankAccounts"
@inherits BasePage

<PageHeader Title="Bank Account" Icon="user-plus">
    <ButtonLink Label="Add New Bank Account" Url="/CreateBankAccount" class="btn btn-sm btn-primary" Icon="plus-circle" />
    <ButtonLink Label="Back to Dashboard" Url="/Dashboard" class="btn btn-sm btn-outline-primary" Icon="arrow-left" />
</PageHeader>

@if (DataLoaded)
{
    <ContainerFluid>
        <Card>
            <CardBody>
                <Table TableId="defaultTable" Items="@BankAccountList" Context="BankAccount">
                    <HeaderTemplate>
                        <th>Name</th>
                        <th>Bank Name</th>
                        <th>Account No</th>
                        <th>Current Balance</th>
                        <th></th>
                    </HeaderTemplate>
                    <RowTemplate>
                        <td>@BankAccount.Name</td>
                        <td>@BankAccount.BankName</td>
                        <td>@BankAccount.AccountNo</td>
                        <td>@BankAccount.Currency @BankAccount.CurrentBalance.ToString("N2")</td>
                        <td>
                            <div class="text-center">
                                <ButtonLink Label="Transactions" Url=@($"/BankAccountDetail/{BankAccount.Id}") class="btn btn-sm btn-outline-primary" Icon="list" />
                                <ButtonLink Label="Edit" Url=@($"/EditBankAccount/{BankAccount.Id}") class="btn btn-sm btn-primary" Icon="edit" />
                                <ButtonModal Label="Delete" class="btn btn-sm btn-danger" Icon="trash-2" Target="deleteModal" Action="() => SetId(BankAccount.Id)" />
                            </div>
                        </td>
                    </RowTemplate>
                </Table>
            </CardBody>
        </Card>
    </ContainerFluid>
}

<Modal Id="deleteModal" Title="Confirm Delete" Message="Are you sure you want to delete this account?">
    <ModalButtons>
        <ButtonAction Label="Confirm Delete" class="btn btn-sm btn-danger" Action="DeleteBankAccountHandler" />
    </ModalButtons>
</Modal>